
  <div class="table-responsive">
    <% if (employee != "") { %>
    
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">E-mail</th>
            <th scope="col">Designation</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% employees.forEach(element => { %>
            <tr class="align-middle">
              <td><%= element.fullName %></td>
              <td><%= element.PhoneNumber %></td>
              <td><%= element.email %></td>
              <td><%= element.Designation %></td>
              <td><%= element.ManagerName %></td>
              <td>
  
                <div class="d-flex flex-row justify-content-end gap-2">
                  <a href="/edit/<%= element._id %>" type="button" class="btn btn-warning btn-small">
                    <i class="bi bi-pencil"></i>
                  </a>
    
                  
                    </button>
                  </form>
    
                </div>
  
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
  
    <% } else { %>
      <h2>No results found.</h2>
    <% } %>
  
  </div>